# Exemple de fichier .env - Copiez et remplissez vos vraies valeurs
BOT_TOKEN=your_telegram_bot_token_here
OWNER_CHAT_ID=your_chat_id_here
PORT=3001

# Firebase credentials
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_PRIVATE_KEY_ID=your_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your_service_account_email
FIREBASE_CLIENT_ID=your_client_id
